src
tests
examples
docs
node_modules
coverage
.github
.vscode
.idea

vite.config.ts
vite.lib.config.ts
tsconfig.json
tsconfig.lib.json

*.test.ts
*.test.tsx
*.tsbuildinfo

CONTRIBUTING.md
CHANGELOG.md
